:host{
    display: block;
    font-size: 12px;
    width: 100%;
}

.btn-back{
    display: block;
    height: 2em;
    padding: 1em;
    text-align: left;
    background: #999;
    background-color: var(--button-background-color);
}

.btn-back svg{
    height: 2em;
    margin: 0;
}

.btn-back svg path{
    fill: #fff;
    fill: var(--button-color);
}