:host-context(.rounded) .checked {
    display:none;
}

.list-item{
    display: flex;
    flex-flow: wrap;
    width: calc(100% - 2em);
    padding: 0.75em 1em;
    color: #333;
    border-bottom: solid 1px #ccc;
    background: #fefefe;
    font-size: 1.5em;
}

.list-item span{
    flex: 0;
}

.list-item span.item-name{
    flex: 1;
}

.list-item .delete{
    float:right;
}

.list-item .item-quantity{
    padding-left: 5px;
}

.list-item.zero .item-price{
    display: none;
}

.list-item .pinned{
    display: inline-block;
    margin-right: 1em;
}

.list-item .pinned svg{
    opacity: 0;
    height: 1em;
}
.list-item.pinned .pinned svg{
    opacity: 1;
}

.checked{
    text-decoration: line-through;
}

.list-item span.break {
    display: block;
    flex-basis: 100%;
    height: 0;
  }