:host{
    display: block;
    /* margin: 2% 4%;
    border: solid 1px #000; */
    font-size: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - var(--logo-height) - 4em);
}

h1{
    flex: 0 1;
    margin: 1em;
}

.input-group{
    flex: 0 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}

.inc-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 1em;
}

.inc-group button{
    flex: 1;
    margin: 0 0 5px 0;
    padding: 0;
}

.inc-group button:last-child{
    margin: 0;
}

label{
    text-align: right;
    padding-right: 1em;
    font-size: 1.5em;
    line-height: 2em;
}

input{
    width: 100%;
    font-size: 3em;
    color: var(--input-color);
    background: var(--input-background-color);
    border: solid 1px #ccc;
    padding: 0.5em 0;
    vertical-align: top;
    text-align: center;
}

.button-group{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex: 1;
    margin: 1em 1em auto 1em
}

.button-group button{
    margin-bottom: auto;
    flex: 1;
    margin-bottom: 0.5em;
}

.button-group button.save{
    flex: 2;
    margin-top: 2em;
    background-color: var(--accent-background-color);
}

.button-group button.delete{
    background-color: var(--alert-background-color);
}

.button-group button.save path,
.button-group button.delete path{
    fill: #fff;
}

button,
button:active, 
button:focus{
    outline: none;
}

button{
    display:block;
    width: 100%;
    background: #999;
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-color);
    border-radius: 5px;
    padding: 0.75em;
    font-size: 1.5em;
    margin: 0.5em 0;
}

button svg{
    height: 1.5em;
    margin: 0;
}

button svg path{
    fill: #fff;
    fill: var(--button-color);
}

button.active, button:active{
    color: var(--button-background-color);
    background-color: var(--button-color);
}
button:active svg path,
button.active svg path{
    fill: var(--button-background-color);
}