.price-tag {
    display: inline-block;
    background: #666;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    line-height: 14px;
    height: 14px;
    padding: 2px 10px;
    vertical-align: middle;
}