.list-item{
    width: calc(100% - 2em);
    padding: 1em 1em;
    color: #333;
    border-bottom: solid 1px #ccc;
    background: #fefefe;
    font-size: 1.5em;
}

.list-item .delete{
    display:none;
    float:right;
}

:host(.manage) .list-item .delete{
    display: inline;
}