:host{
    display: block;
    /* margin: 2% 4%;
    border: solid 1px #000; */
    font-size: 12px;
    display:flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

.input-group{
    display: flex;
    width: 100%;
    /* border-top: solid 1px #999; */
    border-bottom: solid 1px #999;
}

#inp-add{
    flex: 1;
    flex-grow: 1;
    display: block;
    padding: 0.75em 1em;
    font-size: 1.5em;
    background: #ffe;
    border: none;
}

#btn-add{
    display: block;
    width: 2em;
    height: 2em;
    padding: 1em;
    text-align: center;
    background: #999;
}

#btn-add svg{
    height: 2em;
    margin: 0;
}

#btn-add svg path{
    fill: #fff;
}

.total-group{
    padding: 0.75em 1em;
    font-size: 2em;
    background: #333;
    color: #eee;
}

.total-group .actual{
    color: #999;
}

gz-for{
    flex:1;
    flex-grow: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    /* height: calc(100vh - 14em); */
}